<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="scopeView.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <scopeView.My.MySettings>
            <setting name="shrtSnapShot" serializeAs="String">
                <value />
            </setting>
            <setting name="shrtSnapShotDraw" serializeAs="String">
                <value />
            </setting>
            <setting name="shrtOpen" serializeAs="String">
                <value />
            </setting>
            <setting name="shrtClear" serializeAs="String">
                <value />
            </setting>
        </scopeView.My.MySettings>
    </userSettings>
</configuration>